# Welcome to Jupyter!

In [1]:
sales_record = {
'price': 3.24,
'num_items': 4,
'person': 'Chris'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

Chris bought 4 item(s) at a price of 3.24 each for a total of 12.96

In [2]:
import csv

# Sets the floating point precision to 2
%precision 2

with open('mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))

# Let's see the first 3 elements 
    
mpg[:3]

[OrderedDict([('', '1'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'auto(l5)'),
              ('drv', 'f'),
              ('cty', '18'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '2'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'manual(m5)'),
              ('drv', 'f'),
              ('cty', '21'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '3'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '2'),
              ('year', '2008'),
              ('cyl', '4'),
              ('trans', 'manual(m6)'),
              ('drv', 'f'),
              ('cty', '20'),
              ('hwy', '31'),
              ('fl', 'p'),
              ('class', 'compact')])]

In [3]:
len(mpg)

234

In [4]:
# So we have 234 cars mapped to it's properties

# Let's see which features are each car mapped to 

# Access the first car, and check the key values associated with it

mpg[0].keys()

odict_keys(['', 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty', 'hwy', 'fl', 'class'])

In [5]:
# Let's find out the average city mpg of all cars. 

# First, convert it to float to allow arithmetic

sum(float(car['cty']) for car in mpg) / len(mpg)

16.86

In [6]:
# Let's find the highway mpg of all cars

sum(float(car['hwy']) for car in mpg) / len(mpg)

23.44

In [7]:
# Let's find out the unique number of cylinders

cylinders = set(city['cyl'] for city in mpg)
print (cylinders)

{'8', '6', '5', '4'}

In [8]:
# Let's see the effect when the number of cylinder increases

# Create a list for recording the trend
city_mpg_by_cyl = []

for current in cylinders:
    # Count the number of cylinder of the same type
    count = 0;
    # Store the sum of city mpg for the particular type of cylinder
    mpg_sum = 0;
    for car in mpg:
        if(current == car['cyl']):
            count = count + 1
            mpg_sum +=float(car['cty'])
    city_mpg_by_cyl.append((current, mpg_sum/count))

# Let us sort the pairs by the first entries
city_mpg_by_cyl.sort(key = lambda x:x[0])
city_mpg_by_cyl    

# As you can see, the city mpg decreases with the increase in number of cylinders

[('4', 21.01), ('5', 20.50), ('6', 16.22), ('8', 12.57)]

In [9]:
# Let's find the different highway mpg according to class of the car

# First find out the different classes
class_list = set(car['class'] for car in mpg)
# print(class_list)

# Now Let's find out the different highway mpg
highway_mpg_by_class = []
# This is list of tuples

# Iterate over the class list
for __class in class_list:
    __sum = 0;
    count = 0;
    for car in mpg:
        if(car['class']==__class):
            __sum +=float(car['hwy'])
            count +=1;
    highway_mpg_by_class.append((__class, __sum/count))

# Let's sort the answer w.r.t to the second entry
highway_mpg_by_class.sort(key = lambda x : x[1])
highway_mpg_by_class

[('pickup', 16.88),
 ('suv', 18.13),
 ('minivan', 22.36),
 ('2seater', 24.80),
 ('midsize', 27.29),
 ('subcompact', 28.14),
 ('compact', 28.30)]

In [11]:
# Demonstration of date-time module
import datetime as dt
import time as tm

In [12]:
tm.time()

1548003234.20

In [14]:
# Creating a date time stamp
dtnow = dt.datetime.fromtimestamp(tm.time())

In [15]:
dtnow

datetime.datetime(2019, 1, 20, 16, 55, 18, 184718)

In [20]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second

(2019, 1, 20, 16, 55, 18)

This repo contains an introduction to [Jupyter](https://jupyter.org) and [IPython](https://ipython.org).

Outline of some basics:

* [Notebook Basics](../examples/Notebook/Notebook%20Basics.ipynb)
* [IPython - beyond plain python](../examples/IPython%20Kernel/Beyond%20Plain%20Python.ipynb)
* [Markdown Cells](../examples/Notebook/Working%20With%20Markdown%20Cells.ipynb)
* [Rich Display System](../examples/IPython%20Kernel/Rich%20Output.ipynb)
* [Custom Display logic](../examples/IPython%20Kernel/Custom%20Display%20Logic.ipynb)
* [Running a Secure Public Notebook Server](../examples/Notebook/Running%20the%20Notebook%20Server.ipynb#Securing-the-notebook-server)
* [How Jupyter works](../examples/Notebook/Multiple%20Languages%2C%20Frontends.ipynb) to run code in different languages.

You can also get this tutorial and run it on your laptop:

    git clone https://github.com/ipython/ipython-in-depth

Install IPython and Jupyter:

with [conda](https://www.anaconda.com/download):

    conda install ipython jupyter

with pip:

    # first, always upgrade pip!
    pip install --upgrade pip
    pip install --upgrade ipython jupyter

Start the notebook in the tutorial directory:

    cd ipython-in-depth
    jupyter notebook