# Welcome to Jupyter!

In [1]:
x=1
y=2
x+y

3

In [2]:
def add_numbers(x,y):
    return x+y

add_numbers(2,3)

5

In [3]:
def add_numbers(x,y,z=None):
    if(z==None):
        return x + y
    else:
        return x + y + z

print(add_numbers(1,2))
print(add_numbers(1,2,3))

3
6

In [4]:
type(add_numbers)

function

In [5]:
x = (1,2,3,'a','yes')
print(type(x))
print(x)

<class 'tuple'>
(1, 2, 3, 'a', 'yes')

In [6]:
print('Tuples are immutable.')

Tuples are immutable.

In [7]:
x = [1,2,3,4]
type(x)

list

In [8]:
x.append(3.3)
print(x)

[1, 2, 3, 4, 3.3]

In [9]:
for item in x:
    print (item)

1
2
3
4
3.3

In [10]:
i=0
while i != len(x):
    print(x[i])
    i = i + 1

1
2
3
4
3.3

In [11]:
[1,2] + [3,4]

[1, 2, 3, 4]

In [12]:
[1,2]*5

[1, 2, 1, 2, 1, 2, 1, 2, 1, 2]

In [13]:
min(x)

1

In [14]:
max(x)

4

In [15]:
1 in x

True

In [16]:
3.4 in x

False

In [17]:
x = 'This is a string'
print(x[0])
print(x[0:1])
print(x[0:2])

T
T
Th

In [18]:
x[-1]

'g'

In [19]:
x[-2]

'n'

In [20]:
x[-4:-2]

'ri'

In [21]:
x[:3]

'Thi'

In [22]:
x[3:]

's is a string'

In [23]:
first_name = 'Masood'
second_name = 'Alam'

print(first_name + ' ' + second_name)

Masood Alam

In [24]:
print ('Mas' in first_name)
print ('Has' in first_name)

True
False

In [25]:
first_name = 'Masood Ashish Hitesh Yash'.split(' ')[0]
last_name = 'Saxena Gupta Gupta Alam'.split(' ')[-1]
print(first_name + ' ' + last_name)

Masood Alam

In [26]:
x = {'Masood':'masood@iitk.ac.in', 'Hitesh':'hitg@iitk.ac.in', 'Yash':'yash@iitk.ac.in'}
# Dictionaries in python are denoted by curly braces

In [27]:
print(x)

{'Masood': 'masood@iitk.ac.in', 'Hitesh': 'hitg@iitk.ac.in', 'Yash': 'yash@iitk.ac.in'}

In [28]:
x['Hitesh']

'hitg@iitk.ac.in'

In [29]:
x['ankur']=None
# Mixing of types

In [30]:
print(x)

{'Masood': 'masood@iitk.ac.in', 'Hitesh': 'hitg@iitk.ac.in', 'Yash': 'yash@iitk.ac.in', 'ankur': None}

In [31]:
for key in x:
    print (x[key])

masood@iitk.ac.in
hitg@iitk.ac.in
yash@iitk.ac.in
None

In [32]:
for val in x.values():
    print (val)

masood@iitk.ac.in
hitg@iitk.ac.in
yash@iitk.ac.in
None

In [33]:
for name, email in x.items():
    print(name)
    print(email)

Masood
masood@iitk.ac.in
Hitesh
hitg@iitk.ac.in
Yash
yash@iitk.ac.in
ankur
None

In [34]:
#unpacking in python
x = ('Masood', 'Alam', 'masood@iitk.ac.in')
first_name, last_name, email = x
print(first_name)
print(last_name)
print(email)

Masood
Alam
masood@iitk.ac.in